doctype html
html(lang="en")
  head
    title advocacyservicesak
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')
    // build:css /styles/main.css
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')

    link(href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,700italic,400italic',
      rel='stylesheet', type='text/css')
  body(class=page)
    nav.navbar.navbar-toggleable-sm.navbar-light.bg-faded#asak-navbar(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggler.navbar-toggler-left(data-toggle='collapse',
                                                    data-target='#asak-navbar-collapse',
                                                    type='button')
            span.navbar-toggler-icon
          a.navbar-brand(href='/') Advocacy Services of Alaska

        .collapse.navbar-collapse#asak-navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a(href="/") Home
            li.nav-item
              a(href="/services.html") Services
            li.nav-item
              a(href="/pricing.html") Price List
            li.nav-item
              a(href="/about.html") About Us
            li.nav-item
              a(href="/contact.html") Contact
          a.pull-right(href='https://www.facebook.com/pages/Advocacy-Services-of-Alaksa/150972734955130',
                        target='_blank')
              i.asak-social.fa.fa-3x.fa-facebook-square
          a.pull-right(href='https://plus.google.com/113642899093359413634/about', target='_blank')
              i.asak-social.fa.fa-3x.fa-google-plus-square

    .jumbotron
      .container-fluid
        .row-fluid
          .col-sm-6.col-sm-offset-3
            .well.logo
              img(src='/images/asa_logo.svg')


    .container.page-container
      .row.page-content.center-block
          block content

    footer.footer
      p.visible-xs.hidden-md#asak-mobile-social-footer
        a(href='https://plus.google.com/113642899093359413634/about', target='_blank')
          i.asak-social.fa.fa-3x.fa-google-plus-square
        a(href='https://www.facebook.com/pages/Advocacy-Services-of-Alaksa/150972734955130',
                      target='_blank')
          i.asak-social.fa.fa-3x.fa-facebook-square
      p Copyright @2018 Advocacy Services of Alaska, Inc. All rights reserved.
      p Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> are licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

      script(
        src="https://code.jquery.com/jquery-3.2.1.min.js",
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",
        crossorigin="anonymous")
      script(src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js")
